.BlueGrey050 { background-color: #ECEFF1; color: #000000; }
.BlueGrey100 { background-color: #CFD8DC; color: #000000; }
.BlueGrey200 { background-color: #B0BEC5; color: #000000; }
.BlueGrey300 { background-color: #90A4AE; color: #000000; }
.BlueGrey400 { background-color: #78909C; color: #FFFFFF; }
.BlueGrey500 { background-color: #607D8B; color: #FFFFFF; }
.BlueGrey600 { background-color: #546E7A; color: #FFFFFF; }
.BlueGrey700 { background-color: #455A64; color: #FFFFFF; }
.BlueGrey800 { background-color: #37474F; color: #FFFFFF; }
.BlueGrey900 { background-color: #263238; color: #FFFFFF; }